<div class="modal-header">
    <strong class="modal-title">Cash Bank</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <small>Select Template</small>
            <select class="form-control form-control-sm" [(ngModel)]="templateId" (change)="loadTemplate()">
                <option *ngFor="let x of selectTemplate" [value]="x.id"> {{x.name}}</option>
            </select>
        </div>
        <div class="col">
            <small>Recurring of Journal</small>
            <select class="form-control form-control-sm" [(ngModel)]="typeJournal">
                <option value="single"> Single</option>
                <option value="recurring"> Recurring Journal</option> 
            </select>
        </div>
        <div class="col">
            <small>Save Tamplate</small>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="nameOfTemplate">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="!nameOfTemplate" (click)="onSaveAsTemplate()">Save</button>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-6">
            <div class="d-flex" *ngIf="typeJournal == 'recurring'">
                <div class="me-2">
                    <small>Start Period</small>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.startPeriod"
                            ngbDatepicker #d1="ngbDatepicker"/>
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()" type="button"></button>
                    </div>
                </div>
                <div class="me-2">
                    <small>End Period</small>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.endPeriod"
                            ngbDatepicker #d2="ngbDatepicker"  [minDate]="model.startPeriod"/>
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
                    </div>
                </div>
                <div class="me-2">
                    <small>Date of Journal</small>
                    <input type="number" class="form-control" [(ngModel)]="model.dateOfJournal" required >
                </div>
            </div>
            
            <div *ngIf="typeJournal == 'single'">
                <small>Jurnal Date</small>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.journalDate"
                        ngbDatepicker #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
            </div>

           
            <div>
                <small>Ref</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="model.ref">
            </div>
        </div>

        <div class="col-6">
            <small>Note</small>
            <textarea class="form-control form-control-sm" [(ngModel)]="model.note"></textarea>
        </div>

        <div class="col-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Outlet</th>
                        <th>Account</th>
                        <th>Description</th>
                      
                        <th>Debit</th>
                        <th>Credit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td>
                            <select class="form-control form-control-sm" [(ngModel)]="x.outletId"
                                (change)="calculation()">
                                <option [value]="a.id" *ngFor="let a of selectOutlet">{{a.branch+" : "+a.name}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" [(ngModel)]="x.accountId"
                                (change)="calculation()">
                                <option [value]="a.id" *ngFor="let a of selectAccount">{{a.id+" : "+a.name}}</option>
                            </select>
                           
                        </td>
                       
                        <td>
                            <input type="text" maxlength="250" class="form-control form-control-sm" [(ngModel)]="x.description">
                        </td>

                        <td>
                            <input type="text" currencyMask [options]="currencyOptions" (keypress)="keyPress(x,'debit')"
                                class="form-control form-control-sm" [(ngModel)]="x.debit">
                        </td>

                        <td>
                            <input type="text" currencyMask [options]="currencyOptions"
                                (keypress)="keyPress(x,'credit')" class="form-control form-control-sm"
                                [(ngModel)]="x.credit">
                        </td>
                        <td>
                            <a *ngIf="i>1" (click)="removeRow(i);">removeRow</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end">
                            <button type="button" (click)="addrow();" class="btn btn-sm btn-light">Add Row</button>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <table class="table table-sm">
                <tr>
                    <td>Total Debit</td>
                    <td>
                        <div class="text-end">{{summary.debit | number}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Total Credit</td>
                    <td>
                        <div class="text-end">{{summary.credit | number}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Balance <span *ngIf="summary.balance == 0"><i class="bi bi-check-lg"></i></span> </td>
                    <td>
                        <div class="text-end" [ngClass]="{'text-danger': summary.balance != 0}"> {{summary.balance |
                            number}}</div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <code>{{items | json}}</code>
    <code>{{model | json}}</code>
    
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-dark" [disabled]="!submit ||  summary.balance !=0 "
        (click)="onSubmit();">submit</button>

</div>