<div class="wrapper   bg-white py-3"> 
    <div class="container">
        <div class="row">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>123123123123 123</th>
                        <th>123123123123 123</th>
                        <th>123123123123 123</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mar 9, 2024</td>
                        <td>1120.091.001 : AR BANK BCA V,M
                            <div>Grand Indonesia 1 : LT 1</div>
                        </td>
                        <td>700,000</td>
                    </tr>
                    <tr>
                        <td>Mar 9, 2024</td>
                        <td>1120.091.001 : AR BANK BCA V,M
                            <div>Grand Indonesia 1 : LT 1</div>
                        </td>
                        <td>700,000</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12">

                <div>
                    sortable
                    <div id="sortable">
                        <div><span class="handle" id="11" data-id="11"><i class="bi bi-arrows-vertical"></i></span> temo
                            1 </div>
                        <div><span class="handle" id="22" data-id="22"><i class="bi bi-arrows-vertical"></i></span> Item
                            2 </div>
                        <div><span class="handle" id="33" data-id="33"><i class="bi bi-arrows-vertical"></i></span> Item
                            3 </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>