<div class="container">
    <div class="row">
        <div class="col-3">
            <p>Master Data</p>
            <ul>
                <li> <a (click)="addTab('/md/u')" [routerLink]="[ '/md/u' ]">User</a> </li>
                <li> <a (click)="addTab('/md/at')" [routerLink]="[ '/md/at' ]">Type of Account</a> </li> 
                <li> <a (click)="addTab('/md/a')" [routerLink]="[ '/md/a' ]">Chart of Accounts</a> </li> 
                <li> <a (click)="addTab('/md/an')" [routerLink]="[ '/md/an' ]">Auto Number</a> </li>
                <li> <a (click)="addTab('/md/glp')" [routerLink]="[ '/md/glp' ]">Global Parameter</a> </li> 
                <li> <a (click)="addTab('/md/branch')" [routerLink]="[ '/md/branch' ]">Branch & Outlet</a> </li> 
                 
            </ul>
            <hr>
            <p>General Ledger</p>
            <ul> 
                <li> <a (click)="addTab( '/gl/j')" [routerLink]="[ '/gl/j' ]">Journal</a> </li> 
                <li> <a (click)="addTab('/gl/cb')" [routerLink]="[ '/gl/cb' ]">Cash Bank</a> </li>  
                <li> <a (click)="addTab('/gl/l')" [routerLink]="[ '/gl/l' ]">Ledger</a> </li> 
            </ul>
            <hr>
            <p>
                <a [routerLink]="[ '/tb']">Trial Balance</a>
            </p>
            <hr>
            <p>Report</p> 
           select date :  <input type="date" [(ngModel)]="startDate" > s.d <input type="date" [(ngModel)]="endDate" >
            <ul>  
                <li> <a [routerLink]="[ '/report/journalList' ]" [queryParams]="{startDate: startDate, endDate:endDate}" target="_blank" > Journal List</a>    </li> 
                <li> <a [routerLink]="[ '/report/profitAndLoss' ]"  [queryParams]="{startDate: startDate, endDate:endDate}" target="_blank"> Profit And Loss</a> </li> 
                <li> <a [routerLink]="[ '/report/balanceSheet' ]"  [queryParams]="{startDate: startDate, endDate:endDate}" target="_blank"> Balance Sheet</a> </li> 
            </ul>
            <hr>
            <button type="button" class="btn btn-dark btn-sm" (click)="logout()">Logout</button>
        </div>
        <div class="col-9"> 
            <div>
                sample tabs history 
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" *ngFor="let item of tabHistory"> <a [routerLink]="[  item.active ]"  [queryParams]="{history:true}">{{item.name}}</a> &nbsp;
                        <span (click)="removeTab(item);"><i class="bi bi-x-square-fill"></i></span> 
                    </li>
                </ul>
            </div>
                <div>
                    sortable
                    <div id="sortable">
                        <div><span class="handle" id="11" data-id="11"><i class="bi bi-arrows-vertical"></i></span> temo 1 </div>
                        <div><span class="handle" id="22" data-id="22"><i class="bi bi-arrows-vertical"></i></span> Item 2 </div>
                        <div><span class="handle" id="33" data-id="33"><i class="bi bi-arrows-vertical"></i></span> Item 3 </div>
                      </div>
                </div>
              
        </div>
    </div>
</div>