<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Master Data</p>
            <ul>
                <li> <a [routerLink]="[ '/md/u' ]">User</a> </li>
                <li> <a [routerLink]="[ '/md/at' ]">Type of Account</a> </li> 
                <li> <a [routerLink]="[ '/md/a' ]">Chart of Accounts</a> </li> 
                <li> <a [routerLink]="[ '/md/an' ]">Auto Number</a> </li>
                <li> <a [routerLink]="[ '/md/glp' ]">General Ledger Parameter</a> </li>  
            </ul>
            <hr>
            <p>General Ledger</p>
            <ul> 
                <li> <a [routerLink]="[ '/gl/j' ]">Journal</a> </li> 
                <li> <a [routerLink]="[ '/gl/cb' ]">Cash Bank</a> </li>  
                <li> <a [routerLink]="[ '/gl/l' ]">Ledger</a> </li> 
            </ul>
            <hr>
            <p>
                <a [routerLink]="[ '/tb']">Trial Balance</a>
            </p>
            <hr>
            <p>Report</p>
            <ul>  
                <li> <a [routerLink]="[ '/report/journalList' ]" [queryParams]="{startDate: startDate, endDate:endDate}" target="_blank" > Journal List</a> 
                
                 :: <input type="date" [(ngModel)]="startDate" > s.d <input type="date" [(ngModel)]="endDate" >
                </li> 
                <li> <a [routerLink]="[ '/report/profitAndLoss' ]" target="_blank"> Profit And Loss</a> </li> 
                <li> <a [routerLink]="[ '/report/balanceSheet' ]" target="_blank"> Balance Sheet</a> </li> 
            </ul>
            <hr>
            <button type="button" class="btn btn-dark btn-sm" (click)="logout()">Logout</button>
        </div>
    </div>
</div>