<div class="wrapper   bg-white">
  <div class="row g-1 py-2">
    <div class="col-12">
      <div class="px-3">
        <strong>Import Chart Of Account</strong>
      </div>
    </div>

  </div>


  <div class="row g-1">

    <container-element [ngSwitch]="switch_expression">
      <!-- the same view can be shown in more than one case -->


      <div *ngSwitchCase="'step1'">

        <div class="container-fluid pb-2 border-bottom">
          <div class="row g-1">

            <div class="col-5 align-self-center">
              <small><strong>Account ID</strong> is Primary Key, cannot duplicate.</small>
            </div>

            <div class="col-5">

              <div class="input-group">
                <span class="input-group-text">Tabs of Sheet</span>
                <select #selectElement [(ngModel)]="selectedSheetName" [disabled]="sheetData.length <= 0"
                  class="form-control form-control-sm" (change)="onSelectSheet($event)">
                  <option *ngFor="let name of sheetNames; let i = index" [value]="name">{{ name }}</option>
                </select>
              </div>
            </div>

            <div class="col-1 d-grid">
              <button class="btn btn-primary">Next</button>
            </div>

          </div>
        </div>


        <div class="my-2">
          <div class="row">
            <div class="col-6" *ngIf="sheetData.length > 0">
              <div class="content-custom-2 border shadow-sm">
                <table class="table table-sm table-bordered table-hover">
                  <thead class="sticky-top thead-style-primary">
                    <tr>
                      <th>Column Number</th>
                      <th>Name of Header</th>
                      <th>Select Field Name COA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of sheetHeader; let i = index">
                      <td>Column #{{i+1}}</td>
                      <td>{{item.name}}</td>
                      <td>
                        <select class="form-control form-control-sm border" [(ngModel)]="item.field" (change)="updateSelectAccount();">
                          <option selected value="">- Disable - </option>
                          <option [value]="a.name" *ngFor="let a of selectAccount" [hidden]="a.status == true">{{a.label}}</option>

                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-6">
              <div class="lh-1">
                <code>{{sheetHeader | json}}</code>
                <code>{{selectAccount | json}}</code>
              </div>
              <div class="row" *ngFor="let x of selectAccount; let i = index" >
                <div class="col-1">{{i+1}}</div>
                <div class="col-8">{{x.label}}</div>
                <div class="col-3">{{x.status}}</div>
              </div>
            </div>

          </div>
        </div>



        <div class="col-12" *ngIf="sheetData.length > 0">
          <div class="content-custom-1">
            <table class="table table-sm table-bordered ">
              <tbody>
                <tr *ngFor="let row of sheetData; let i = index" [ngClass]="{'sticky-top': i == 0 }">
                  <td [ngClass]="{'bg-light': i == 0, 'border-bottom': i == 0, }" *ngFor="let cell of row">{{ cell }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <!--default case when there are no matches -->
      <div *ngSwitchDefault>

        <div class="container-fluid">

          <div class="d-flex ">
            <div><input type="file" class="form-control form-control-sm" (change)="onFileChange($event)"> </div>
            <!-- <div class="mx-1"> <button class="btn btn-sm btn-dark" (click)="readExcelFile()">Read Excel</button> </div> -->
          </div>

          <div class="p-5 text-center mt-2 mb-3 border bg-light">
            <em><small>Please select *.xlsx or *.csv file</small></em>
          </div>

        </div>
      </div>

    </container-element>



  </div>

</div>