<div class="container-fluid position-fixed  header-tab-main bg-light">
    <div class="default-tab  ">
        <ul class="nav nav-tabs">
            <!-- <li class="nav-item">
                <a class="nav-link active" href="javascript:;"> Home <span><i class="bi bi-x"></i></span> </a>
            </li> -->
            <li class="nav-item" *ngFor="let item of tabHistory">
                <span class="nav-link " [ngClass]="{'active': active == item.active }">
                    <a href="javascript:;" (click)="navigate(item)" >{{item.name}}</a>  
                    <span (click)="removeTab(item);"><i class="bi bi-x"></i></span>
                </span>
            </li>

        </ul> 
    </div>
    
</div>

 