<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th *ngIf="!disable"></th>

                        <th *ngIf="!disable">Add Child</th>
                        <th>Code</th>
                        <th>Name Account </th>

                        <th>Parent Id</th>
                        <th>Type of Account</th>
                        <th>Normal Balance</th>
                        <th>Position</th>

                        <th>Cash Bank</th>
                        <th>Balance</th>

                        <th>Status</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td *ngIf="!disable">

                            <div *ngIf="x.checkBox == '' " (click)="onCheck(x, true)">
                                <i class="bi bi-square"></i>
                            </div>

                            <div *ngIf="x.checkBox != '' " (click)="onCheck(x, false)">
                                <i class="bi bi-check-square-fill"></i>
                            </div>

                        </td>
                        <td *ngIf="!disable"> <a href="javascript:;" (click)="open(content, x)">Add Child</a> </td>

                        <td>{{x.id}}</td>

                        <td> <input type="text" class="form-control form-control-sm" [(ngModel)]="x.name"
                                [disabled]="disable"> </td>
                        <td>{{x.parent}}</td>
                        <td>
                            <select class="form-control form-control-sm" [disabled]="disable"
                                [(ngModel)]="x.accountTypeId">
                                <option [value]="a.id" *ngFor="let a of accountType">{{a.name}}</option>
                            </select>
                        </td>

                        <td>{{fnDetailAccountType(x.accountTypeId, 'normalBalance')}}</td>
                        <td>{{fnDetailAccountType(x.accountTypeId, 'position')}}</td>


                        <td [ngClass]="{'disable': disable}">

                            <div *ngIf="x.cashBank == '0'" (click)="onCheckBox(x,'0','cashBank')">
                                <i class="bi bi-square"></i>
                            </div>

                            <div *ngIf="x.cashBank == '1'" (click)="onCheckBox(x,'1','cashBank')">
                                <i class="bi bi-check-square-fill"></i>
                            </div>
                        </td>
                        <td>
                            <input type="text" currencyMask class="form-control form-control-sm"
                                [options]="currencyOptions" [disabled]="disable" [(ngModel)]="x.balance">
                        </td>
                        <td [ngClass]="{'disable': disable}">
                            <div *ngIf="x.status == '0'" (click)="onCheckBox(x,'0','status')">
                                <i class="bi bi-square"></i>
                            </div>

                            <div *ngIf="x.status == '1'" (click)="onCheckBox(x,'1','status')">
                                <i class="bi bi-check-square-fill"></i>
                            </div>
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-12">
            <div class="text-end">
                <button type="button" class="btn btn-sm btn-primary mx-5" (click)="open(content, { 'id':'1' })"
                    [hidden]="disable">Add Item</button>

                <button type="button" class="btn btn-sm btn-danger mx-1" (click)="fnDelete()" [hidden]="disable">Delete
                    Check</button>
                <button type="button" class="btn btn-sm btn-warning mx-1" (click)="fnRollback()"
                    [hidden]="disable">Cancel</button>
                <button type="button" class="btn btn-sm btn-warning mx-1" (click)="disable=false"
                    [hidden]="!disable">Edit</button>

                <button type="button" class="btn btn-sm btn-primary mx-1" (click)="fnUpdate()"
                    [hidden]="disable">Save</button>
            </div>

        </div>
    </div>
</div>

<ng-template #content let-modal>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">

            {{item | json}}

            <div class="mb-3">
                <label for="id">Parent Account</label>
                <div class="form-control  bg-light">{{item.name}} &nbsp;</div>
            </div>


            <div class="mb-3">
                <label for="id">Code</label>
                <div class="input-group ">
                    <span *ngIf="item.id != '1'" class="input-group-text" id="basic-addon1">{{item.id}}.</span>
                    <input type="text" class="form-control " id="id" required [(ngModel)]="newCoA.id" name="id"
                        #id="ngModel">
                </div>
                <div [hidden]="id.valid || id.pristine" class="text-danger">
                    <small> Id is required for Account Code</small>
                </div>
            </div>




            <div class="mb-3">
                <label for="nameOfAccountOP">Account Name</label>
                <input type="text" class="form-control " id="nameOfAccountOP" required [(ngModel)]="newCoA.name"
                    name="nameOfAccountOP" #nameOfAccountOP="ngModel">
                <div [hidden]="nameOfAccountOP.valid || nameOfAccountOP.pristine" class="text-danger">
                    <small> Name is required for Account Code</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="accountTypeId">Type Of Account</label>
                <select class="form-control" id="accountTypeId" required [(ngModel)]="newCoA.accountTypeId"
                    name="accountTypeId" #accountTypeId="ngModel">
                    <option [value]="a.id" *ngFor="let a of accountType">{{a.name}}</option>
                </select>
                <div [hidden]="accountTypeId.valid || accountTypeId.pristine" class="text-danger">
                    <small> Account Type Id required for Account Code</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="name">Normal Balance</label>
                <div class="form-control  bg-light">{{fnDetailAccountType(newCoA.accountTypeId, 'normalBalance')}}
                    &nbsp; </div>
            </div>

            <div class="mb-3">
                <label for="name">Position</label>
                <div class="form-control  bg-light">{{fnDetailAccountType(newCoA.accountTypeId, 'position')}} &nbsp;
                </div>
            </div>

            {{newCoA | json}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark mx-1" (click)="modal.close('Save click')">Save</button>
            <button type="submit" class="btn btn-success mx-1" [disabled]="!heroForm.form.valid">Submit</button>

        </div>
    </form>
</ng-template>