<div class="wrapper border bg-white">
    <div class="container py-2">
        <div class="row">
            <div class="col-6">
                <div class="px-2"> <strong>Branch</strong> </div>
            </div>
            <div class="col-6">
                <div class="px-2"> <strong>Outlet</strong></div>
            </div>
        </div>
        <div class="row ">
            <div class="col-6">
                <div class="border p-2">
                    <div class="d-flex py-1" *ngFor="let x of items; let i = index"
                        [ngClass]="{'style-color-info': activeIndexItem == i}">
                        <div class="w-100">
                            <input type="text" class="form-control form-control-sm mb-1" [disabled]="disable"
                                [(ngModel)]="x.name">
                        </div>

                        <div class="flex-shrink-1 px-1 ">
                            <a href="javascript:;" (click)="showOutlet(i, x);">Outlet</a>
                        </div>

                        <div class="flex-shrink-1 px-1 ">
                            <i class="bi bi-check-square-fill text-primary" *ngIf="x.status == 1"
                                (click)="onCheckBranch(i,'0')"></i>
                            <i class="bi bi-square " *ngIf="x.status != 1" (click)="onCheckBranch(i, '1')"></i>
                        </div>
                        <div class="flex-shrink-1 px-1 " *ngIf="!disable" (click)="onDeleteBranch(x);">
                            <i class="bi bi-trash3"></i>
                        </div>

                    </div>

                    <button class="btn btn-sm btn-primary me-1" (click)="addBranch()">Add Branch</button>

                    <button class="btn btn-sm btn-warning me-1" [hidden]="disable"
                        (click)="onUpdateBranch()">Save</button>
                </div>
            </div>
            <div class="col-6">
                <div class="border p-2">
                    <div class="d-flex" *ngFor="let x of itemsChild; let i = index">
                        <div class="flex-grow-1">
                            <input type="text" class="form-control form-control-sm mb-1" [disabled]="disable"
                                [(ngModel)]="x.name">
                        </div>
                        <div class=" px-1 ">
                            <a href="javascript:;" (click)="open(x.id)">{{x.totalCoA}} AoC</a>
                        </div>
                        <div class=" px-1 ">
                            <i class="bi bi-check-square-fill text-primary" *ngIf="x.status == 1"
                                (click)="onCheckOutlet(i,'0')"></i>
                            <i class="bi bi-square " *ngIf="x.status != 1" (click)="onCheckOutlet(i, '1')"></i>
                        </div>
                        <div class=" px-1 " *ngIf="!disable" (click)="onDeleteOutlet(x);">
                            <i class="bi bi-trash3"></i>
                        </div>

                    </div>
                </div>

                <div *ngIf="activeIndexItem !== null">

                    <button class="btn btn-sm btn-primary mx-1" (click)="addOutlet()">Add Outlet</button>
                    <button class="btn btn-sm btn-warning mx-1" [hidden]="disable"
                        (click)="onUpdateOutlet()">Save</button>
                </div>

            </div>
            <div class="col-12">
                <button class="btn btn-sm btn-warning mx-1" [hidden]="!disable" (click)="editable()">Editable</button>
            </div>
        </div>
    </div>
</div>