<div class="main-wrapper">
  <div class="left-sidebar border border-top-0 border-bottom-0 border-right-0  disable-printing" *ngIf="login" >
    <app-home-left-sidebar></app-home-left-sidebar>

  </div>
  <div   [ngClass]="{'main': login}"> 
    <!-- tabs history -->
    <div class="header-tab disable-printing "  *ngIf="login"> 
         <app-home-tabs></app-home-tabs> 
    </div>
    <!-- END tabs history-->

    <!-- START component -->
    <div class="main-component ">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-12 ">
            
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <!-- END component --> 
  </div>
</div>