<div class="modal-header">
    <strong class="modal-title">Journal Id {{id}}</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-light">

    <div class="row">
        <div class="col-6">
            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center"> Type of journal </div>
                <div class="col-8">
                    <div class="form-control form-control-sm bg-white">
                        {{typeOfJournal | titlecase}}
                    </div>
                </div>
            </div>
            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center"> Reference </div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="model.ref"
                        [disabled]="disable">
                </div>
            </div>

            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center"> Jurnal Date </div>
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="model.journalDate" ngbDatepicker #d="ngbDatepicker" [disabled]="disable" />
                        <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" [disabled]="disable"
                            (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="border style-color-light  px-2 pt-2 mb-2" [hidden]="!journalHeader.template">
                <div class="row mb-2 g-1">
                    <div class="col-3 align-self-center"> Template </div>
                    <div class="col-9">
                        <div class="form-control form-control-sm  bg-white">
                            {{journalHeader.template}}
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row mb-2 g-1">
                <div class="col-3"> Note </div>
                <div class="col-12">
                    <textarea class="form-control form-control-sm" [(ngModel)]="model.note" rows="4"
                        [disabled]="disable"></textarea>
                </div>
            </div>
        </div>



    </div>

    <div class="row mb-3 px-2">
        <div>
            <small>Transaction detail</small>
        </div>
        <div class="form-journal bg-white  py-2 border-style-primary">
            <div class="col-12">
                <div class="row mb-2 g-1">
                    <div class="col-12" *ngIf="typeOfJournal== 'journal' ">

                        <div class="row g-0">
                            <div class="col-2">
                                <div class="px-2"> Outlet</div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="px-2"> Account</div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="px-2"> Description</div>
                            </div>
                            <div class="col-4">
                                <div class="row g-0">
                                    <div class="col-5 text-end">
                                        <div class="px-2"> Debit</div>
                                    </div>
                                    <div class="col-5 text-end">
                                        <div class="px-2"> Credit</div>
                                    </div>
                                    <div class="col-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sortable">

                            <div class="row g-0" *ngFor="let x of items; let i = index">
                                <div class="col-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="x.outletId"
                                        [disabled]="disable" (change)="onSelectOutlet(x.outletId, i);">
                                        <option [value]="a.id" *ngFor="let a of selectOutlet">{{a.branch+" :
                                            "+a.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-3 align-self-center">
                                    <select class="form-control form-control-sm" [(ngModel)]="x.accountId"
                                        [disabled]="disable" (change)="calculation()">
                                        <optgroup [label]="a.name" *ngFor="let a of x.selectAccount">
                                            <option [hidden]="c.status != '1' " [value]="c.id" *ngFor="let c of a.coa">
                                                {{c.id+" : "+c.name}}
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-3 align-self-center">
                                    <input type="text" maxlength="250" class="form-control form-control-sm"
                                        [disabled]="disable" [(ngModel)]="x.description">
                                </div>
                                <div class="col-4">
                                    <div class="row g-0">
                                        <div class="col-5 text-end">
                                            <input type="text" currencyMask [options]="currencyOptions"
                                                (keypress)="keyPress(x,'debit')" [disabled]="disable"
                                                class="form-control form-control-sm" [(ngModel)]="x.debit">
                                        </div>
                                        <div class="col-5 text-end">
                                            <input type="text" currencyMask [options]="currencyOptions"
                                                (keypress)="keyPress(x,'credit')" [disabled]="disable"
                                                class="form-control form-control-sm" [(ngModel)]="x.credit">
                                        </div>
                                        <div class="col-2 text-center">
                                            <span *ngIf="!disable" class="mx-1">
                                                <a *ngIf="items.length > 2" (click)="removeRow(i);"><i
                                                        class="bi bi-trash-fill"></i></a>
                                            </span>
                                            <span *ngIf="!disable" class="handle mx-1" [attr.data-id]="x.id"><i
                                                    class="bi bi-arrows-vertical"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-12" *ngIf="typeOfJournal== 'cashbank' ">
                     
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-floating">
                                    <select class="form-select form-control-sm" [(ngModel)]="cashbank.accountId"
                                        id="cashbankAccountId" [disabled]="disable">
                                        <option [value]="x.id" *ngFor="let x of selectAccountCashBank">
                                            {{x.id+" : "+x.name}}
                                        </option>
                                    </select>
                                    <label for="cashbankAccountId"> Select Account</label>
                                </div> 
                            </div>
                            <div class="col-3">
                                <div class="form-floating">
                                    <select class="form-select form-control-sm" [(ngModel)]="cashbank.position"
                                        id="cashbankPosition" [disabled]="disable">
                                        <option value="debit">Debit</option>
                                        <option value="credit">Credit</option>
                                    </select>
                                    <label for="cashbankPosition"> Position</label>
                                </div>
                            </div>
                        </div>

                      
                        <div class="row g-0">
                            <div class="col-2">
                                <div class="px-2"> Outlet</div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="px-2"> Account</div>
                            </div>
                            <div class="col-4 align-self-center">
                                <div class="px-2"> Description</div>
                            </div>
                            <div class="col-2">
                                <div class="px-2"> Amount</div>
                            </div>
                            <div class="col-1">
        
                            </div>
                        </div>

                        <div class="sortable">

                            <div class="row g-0" *ngFor="let x of items; let i = index">
                                <div class="col-2">
                                    <select class="form-control form-control-sm" [(ngModel)]="x.outletId"
                                        [disabled]="disable" (change)="onSelectOutlet(x.outletId, i);">
                                        <option [value]="a.id" *ngFor="let a of selectOutlet">{{a.branch+" :
                                            "+a.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-3 align-self-center">
                                    <select class="form-control form-control-sm" [(ngModel)]="x.accountId"
                                        [disabled]="disable" (change)="calculation()">
                                        <optgroup [label]="a.name" *ngFor="let a of x.selectAccount">
                                            <option [hidden]="c.status != '1' " [value]="c.id" *ngFor="let c of a.coa">
                                                {{c.id+" : "+c.name}}
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-4 align-self-center">
                                    <input type="text" maxlength="250" class="form-control form-control-sm"
                                        [disabled]="disable" [(ngModel)]="x.description">
                                </div>

                                <div class="col-2">
                                    <input type="text" currencyMask [options]="currencyOptions"
                                    (keypress)="keyPress(x,'amount')" [disabled]="disable"
                                    class="form-control form-control-sm" [(ngModel)]="x.amount">
                                </div>
                                <div class="col-1 text-center">

                                    <i *ngIf="disable" class="bi bi-lock"></i>

                                    <span *ngIf="!disable" class="mx-1">
                                        <a *ngIf="items.length > 2" (click)="removeRow(i);"><i
                                                class="bi bi-trash-fill"></i></a>

                                        <i *ngIf="items.length<2" class="bi bi-lock"></i>
                                    </span>


                                    
                                    <span *ngIf="!disable" class="handle mx-1" [attr.data-id]="x.id"><i
                                            class="bi bi-arrows-vertical"></i></span>

                                </div>
                               
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 text-end mb-3 " [hidden]="disable">
            <button type="button" (click)="addrow();" class="btn btn-sm btn-light">Add Row</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <table class="table font-code  table-font-small">
              
                <tr>
                    <td width="100"> Created </td>
                    <td>: {{journalHeader.inputBy}}  {{journalHeader.inputDate}} </td>
                </tr> 
                <tr>
                    <td > Update   </td>
                    <td>: {{journalHeader.updateBy}}  {{journalHeader.updateDate}} </td>
                </tr>
               
            </table>

        </div>
        <div class="col-4">
            <div *ngIf="typeOfJournal=='journal'">
                <div class="row g-0 mb-2 border-bottom">
                    <div class="col-4"> <strong>Total debit</strong> </div>
                    <div class="col-8">
                        <div class="text-end"><strong>{{summary.debit | number}}</strong></div>
                    </div>
                </div>
                <div class="row g-0 mb-2 border-bottom">
                    <div class="col-4"> <strong>Total credit</strong> </div>
                    <div class="col-8">
                        <div class="text-end"><strong> {{summary.credit | number}}</strong></div>
                    </div>
                </div>
                <div class="row g-0 mb-2 border-bottom">
                    <div class="col-4"> <strong>Balance</strong> <span
                            *ngIf="summary.balance == 0 && (summary.debit > 0 || summary.cedit > 0)"><i
                                class="bi bi-check-lg"></i></span> </div>
                    <div class="col-8">
                        <div class="text-end" [ngClass]="{'text-danger': summary.balance != 0}"> <strong>
                                {{summary.balance | number}}</strong></div>
                    </div>
                </div>

            </div>

            <div *ngIf="typeOfJournal=='cashbank'">
                <div class="row g-0 mb-2 border-bottom">
                    <div class="col-4"> <strong>Total</strong> </div>
                    <div class="col-8">
                        <div class="text-end"> <strong> {{summary.credit + summary.debit | number}} </strong></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" [hidden]="disable" class="btn btn-warning mx-1" (click)="editable(true);">Cancel</button>

    <button type="button" [hidden]="disable" class="btn btn-dark mx-1" [disabled]="!submit ||  summary.balance !=0 "
        (click)="onUpdate();">Update</button>


    <button type="button" [hidden]="!disable" class="btn btn-warning mx-1" (click)="editable(false);">Edit</button>

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>




</div>