

@media (max-width: 1200px) {
  .modal-xl {
    max-width: 98% !important;
    margin-right: auto;
    margin-left: auto;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 100vw !important;
  }

  .font-code {
    font-size: 0.8rem;
  }
  .disable-printing{
    display: none;
  }
  .main{
    margin-left :0rem !important;
  }
}
