<p>outlet-account works!</p>
{{branchId}}

<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th  class="headcol">a123</th>
                <th  class="long">b123</th>
                <th  class="long">v324</th>
                
            </tr>
        </thead>
        <tbody>

            <tr>
                <th class="headcol">1</th>
                <td class="long ms-5">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>
            <tr>
                <th class="headcol">2</th>
                <td class="long">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>
            <tr>
                <th class="headcol">3</th>
                <td class="long">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>
            <tr>
                <th class="headcol">4</th>
                <td class="long">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>
            <tr>
                <th class="headcol">5</th>
                <td class="long">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>
            <tr>
                <th class="headcol">6</th>
                <td class="long">ABCDE</td>
                <td class="long">ZZZZZ</td>
            </tr>

        </tbody>
    </table>
</div>