<div class="modal-header">
    <strong class="modal-title">Account of {{branch}} :  {{outlet}}</strong>
   
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <!-- <p>Hello, {{ branchId }} : {{ outletId }}!</p> -->
    
    <div *ngFor="let x of items; let a = index" class="mb-3">
        <div class="row">
            <div class="col-11 border-bottom">
                <div><strong>{{x.name}}</strong></div>
            </div>
            <div class="col-1 text-center border-bottom">
                <div *ngIf="x.checkBoxAll == '1'" (click)="onCheckBoxAll(a,'')"><i class="bi bi-check-square-fill text-primary" ></i></div> 
                <div *ngIf="x.checkBoxAll != '1'" (click)="onCheckBoxAll(a, '1')"><i class="bi bi-square"></i></div>
            </div>
        </div>


        <div class="row " *ngFor="let n of x.account; let i = index" >
            <div class="col-11">{{n.id +" : "+n.name}}</div>
            <div class="col-1 text-center">
                <div *ngIf="n.status == '1'" (click)="onCheckBox(a, i,'0')"><i class="bi bi-check-square-fill text-primary" ></i></div> 
                <div *ngIf="n.status != '1'" (click)="onCheckBox(a, i,'1')"><i class="bi bi-square"></i></div>
            </div>
        </div>
    </div>
   
</div>
<div class="modal-footer">
    
    <button type="button" class="btn btn-outline-dark mx-1" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary mx-1" (click)="onSaveCoa()">Save</button>
</div>

 