<div class="container">
  <div class="row">
    <div class="col-12">
      <strong>Import Chart Of Account</strong>
    </div>
  </div>
  <div class="row g-1">
    <div class="col-6">
      <div class="d-flex">
        <div> <input type="file" class="form-control form-control-sm" (change)="onFileChange($event)"> </div>
        <div class="ms-2"> <button class="btn btn-sm btn-dark" (click)="readExcelFile()">Read Excel</button> </div>
      </div>
    </div>
    <div class="col-3">
      <select [(ngModel)]="selectedSheetName" [disabled]="sheetData.length <= 0" class="form-control form-control-sm" (change)="onSelectSheet();">
        <option *ngFor="let name of sheetNames; let i = index" [value]="name">{{ name }}</option>
      </select>
    </div>
    <div class="col-3">
      <button type="button" [disabled]="sheetData.length <= 0" (click)="onImportCoA()" class="btn btn-sm btn-primary">Upload</button>
    </div>

    <div class="col-12" *ngIf="sheetData.length > 0" > 
      {{sheetHeader | json}}
      <table>
        <thead>
          <tr>
            <th>Header</th>
            <th>Select Field Name COA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sheetHeader; let i = index">
            <td>Column {{i+1}} :  {{item.name}}</td>
            <td>
              <select class="form-control form-control-sm" [(ngModel)]="item.field">
                <option selected value=""> </option>
                <option value="id">Account ID</option>
                <option value="name">Name</option> 
                <option value="parentId">Parent Account</option>
                <option value="accountTypeId">Type Of Account / Category</option>
                <option value="cashBank">Cash Bank [0 or 1]</option>
                <option value="status">Status Active [0 or 1]</option> 
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div><strong>Account ID</strong> is Primary Key, cannot duplate</div>
    </div>

    <div class="col-12" *ngIf="sheetData.length > 0" >
      <table class="table table-sm table-bordered ">
        <tbody>
          <tr *ngFor="let row of sheetData">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>