<div class="wrapper border bg-white">
    <div class="row g-1 py-2 border-bottom">
        <div class="col-6">
            <div class="px-2">
                <strong>Auto Number</strong>
            </div>
        </div>
        <div class="col-6 text-end">
            <div class="text-end">
                <button type="button" class="btn btn-sm btn-warning mx-1" (click)="fnRollback()" [hidden]="disable">Cancel</button>
                <button type="button" class="btn btn-sm btn-warning mx-1" (click)="disable=false" [hidden]="!disable">Edit</button>

                
                <button type="button" class="btn btn-sm btn-primary mx-1" (click)="fnUpdate()" [hidden]="disable">Save</button> 
            </div>

          
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-hover" style="max-width: 800px;">
                <thead class="sticky-top thead-style-primary"> 
                    <tr>
                        <th>Id</th>
                        <th>Name</th>  
                        <th>Running Number</th> 
                        <th>Prefix</th>
                        <th>Digit</th>
                        <th>Last Record</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items">
                        <td> {{x.id}} </td>
                        <td> {{x.name | uppercase}} </td> 
                        <td>{{x.runningNumber}}   </td>
                        <td> <input type="text" class="form-control form-control-sm" [disabled]="disable" [(ngModel)]="x.prefix" id="id{{x.id}}"> </td>
                        <td> <input type="number" class="form-control form-control-sm" [disabled]="disable" [(ngModel)]="x.digit" id="id{{x.id}}"></td> 
                        <td>{{x.lastRecord}}   </td>
                    </tr>
                </tbody>
                
            </table>
          
        </div>
    </div>
</div>