<div class="wrapper border bg-white">
    <div class="container-fluid mb-3">
        <div class="row g-1 py-2">
            <div class="col-12">
                <strong>Account Payable Payment Detail</strong>
            </div>
        </div>

        <div class="row g-1 py-2">
            <div class="col-6">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Supplier</td>
                            <td>{{item.supplierId}} : {{item.supplier}}</td>
                        </tr>
                        <tr>
                            <td>Payment Id</td>
                            <td>{{item.id}}</td>
                        </tr>
                        <tr>
                            <td>AP Account </td>
                            <td>{{item.accountId}}</td>
                        </tr>
                        <tr>
                            <td>Payment date</td>
                            <td>{{item.dueDate}} </td>
                        </tr>

                        <tr>
                            <td>Memo</td>
                            <td>{{item.memo}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <small>Payment</small>
            <form (ngSubmit)="onInsertNewInvoiceDetail()" #heroForm2="ngForm">

                <div class="col-12">
                    <table class="table table-sm table-bordered table-hover ">
                        <thead class="sticky-top  style-color-primary">
                            <tr>
                                <th>
                                    <div class="text-primary" *ngIf="checkBoxAllDetail === true "
                                        (click)="onCheckBoxAllDetail()"> <i class="bi bi-check-square-fill"></i> </div>
                                    <div *ngIf="checkBoxAllDetail !== true " (click)="onCheckBoxAllDetail()"> <i
                                            class="bi bi-square"></i> </div>
                                </th>
                                <th class="">#</th>
                                <th class="">Invoice Id</th>
                                <th class="text-end">Amount </th>
                                <th class="text-end">Outstanding </th>
                                <th class="text-end">Payment </th>
                                <th class="text-end">Adjustment </th>
                                <th class="text-end">Adjustment CoA </th>
                                <th class="text-end">Date </th>

                            </tr>
                        </thead>
                        <tbody>
                           

                            <tr *ngFor="let x of itemDetails; let i = index">
                                <td>
                                     <div class="text-primary" *ngIf="x.checkBox === true "
                                        (click)="onCheckBoxDetail(i, x)"> <i class="bi bi-check-square-fill"></i> </div>
                                    <div *ngIf="x.checkBox !== true " (click)="onCheckBoxDetail(i, x)"> <i
                                            class="bi bi-square"></i> </div> 
                                </td>
                                <td class="">{{i+1}}</td>
                                <td>
                                    <select class="form-control form-control-sm" name="invoiceId" (change)="updateDetail(x)"
                                        [(ngModel)]="x.invoiceId" [ngModelOptions]="{standalone: true}">
                                        <option [value]="n.id" *ngFor="let n  of selectInvoice">{{n.id}} </option>
                                    </select>
                                </td>
                                <td class="text-end"> </td>
                                <td class="text-end"> </td>


                                <td>
                                    <input type="text" class="form-control form-control-sm" currencyMask
                                        [options]="currencyOptions" required [(ngModel)]="x.payment" name="payment"
                                        #payment="ngModel" [ngModelOptions]="{standalone: true}">
                                    <small [hidden]="payment.valid || payment.pristine" class="text-danger">
                                        Payment Amount is required
                                    </small>
                                </td>


                                <td class="text-end">
                                    <input type="text" class="form-control form-control-sm" currencyMask
                                        [options]="currencyOptions" required [(ngModel)]="x.adjustment"
                                        name="adjustment" #adjustment="ngModel" [ngModelOptions]="{standalone: true}">
                                    <small [hidden]="adjustment.valid || adjustment.pristine" class="text-danger">
                                        Adjustment Amount is required
                                    </small>
                                </td>
                                <td>
                            
                                    <select class="form-control form-control-sm" name="adjustmentAccountId" (change)="updateDetail(x)"
                                        [(ngModel)]="x.adjustmentAccountId" [ngModelOptions]="{standalone: true}">
                                        <option [value]="n.id" *ngFor="let n of selectAccount">{{n.id+' : ' + n.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <a href="javascript:;" (click)="removeAddRow(i);"> {{i}} <i
                                            class="bi bi-trash3-fill"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" class="text-end">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="addRow();">Add
                                        row</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <code>{{itemDetails | json}}</code>
                    <hr>
                    selectInvoice
                    <code>{{selectInvoice | json}}</code>

                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" *ngIf="addRowPayment" class="btn btn-sm btn-light mx-1"
                            (click)="addRowPayment=false">Cancel</button>
                    </div>
                    <div class="col-8 text-end">
                        <div class=" me-2">
                            <button type="button" class="btn btn-sm btn-outline-danger mx-1"
                                (click)="onDeleteDetail()"><i class="bi bi-trash3"></i></button>

                            <button type="submit" *ngIf="addRowPayment" class="btn btn-sm btn-primary mx-1"
                                [disabled]="!heroForm2.form.valid">Submit</button>


                            <button type="button" *ngIf="!addRowPayment" (click)="addRowPayment=true"
                                class="btn btn-sm btn-primary">Add</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>







    </div>
</div>