<div class="modal-header">
    <strong class="modal-title">Journal</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-light">

    <div class="row ">
        <div class="col-6">
            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center"> Type of journal </div>
                <div class="col-8">
                    <select class="form-control form-control-sm"
                        (change)="fnClearCredit();onChangeTemplate();nameOfTemplate =''" [(ngModel)]="typeOfJournal">
                        <option value="journal">Journal</option>
                        <option value="cashbank">Cash Bank</option>
                    </select>
                </div>
            </div>


            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center">
                    Reference
                </div>
                <div class="col-8">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="model.ref">
                </div>
            </div>


            <div class="row mb-2 g-1">
                <div class="col-4 align-self-center"> Recurring of journal </div>
                <div class="col-8">
                    <select class="form-control form-control-sm" [(ngModel)]="recurringOfJournal">
                        <option value="oneTime"> One Time</option>
                        <option value="recurring"> Recurring Journal</option>
                    </select>
                </div>
            </div>
            <div *ngIf="recurringOfJournal == 'recurring'">
                <div class="row mb-2 g-1">
                    <div class="col-4 align-self-center"> Period </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp"
                                [(ngModel)]="model.startPeriod" ngbDatepicker #d1="ngbDatepicker" />
                            <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp"
                                [(ngModel)]="model.endPeriod" ngbDatepicker #d2="ngbDatepicker"
                                [minDate]="model.startPeriod" />
                            <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>

                <div class="row mb-2 g-1">
                    <div class="col-4 align-self-center"> Date of journal </div>
                    <div class="col-2">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="model.dateOfJournal"
                            required>
                    </div>

                </div>

                <div class="row mb-2 g-1">
                    <div class="col-4 align-self-center"> Recurring </div>
                    <div class="col-8">
                        <div class="input-group">
                            <input type="number" class="form-control form-control-sm"
                                [(ngModel)]="model.recurringPerMonth" required>
                            <span class="input-group-text">Transaction Per Month</span>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="recurringOfJournal == 'oneTime'">
                <div class="row mb-2 g-1">
                    <div class="col-4 align-self-center"> Jurnal date </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp"
                                [(ngModel)]="model.journalDate" ngbDatepicker #d="ngbDatepicker" />
                            <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div>
                Filter by branch
                <select class="form-control form-control-sm">
                    <option>- All Branchs -</option>
                </select>
            </div> -->


        </div>

        <div class="col-6">

            <div class="border style-color-light  px-2 pt-2 mb-2">
                <div class="row">
                    <div class="col-12">
                        <small>Template</small>
                    </div>
                </div>
                <div class="row mb-2 g-1">
                    <div class="col-3 align-self-center">Select</div>
                    <div class="col-9">
                        <select class="form-control form-control-sm" [(ngModel)]="templateId" (change)="loadTemplate()">
                            <option *ngFor="let x of selectTemplate" [value]="x.id"> {{x.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row  mb-2 g-1">
                    <div class="col-3 align-self-center"> Save name </div>
                    <div class="col-7">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="nameOfTemplate">
                    </div>
                    <div class="col-2 d-grid">
                        <button type="button" class="btn btn-primary btn-sm" [disabled]="!nameOfTemplate"
                            (click)="onSaveAsTemplate()">Save</button>
                    </div>
                </div>
            </div>

            <div class="row  mb-2 g-1">
                <div class="col-12">
                    <div>Note</div>
                    <textarea [(ngModel)]="model.note" class="form-control form-control-sm" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 px-2">
        <div>
            <small>Transaction detail</small>
        </div>
        <div class="form-journal bg-white  py-2 border-style-primary">

            <!-- IF CASH BANK -->
            <div class="col-12" *ngIf="typeOfJournal == 'cashbank'  ">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-floating">
                            <select class="form-select form-control-sm" [(ngModel)]="cashbank.accountId"
                                id="cashbankAccountId">
                                <option [value]="x.id" *ngFor="let x of selectAccountCashBank">
                                    {{x.id+" : "+x.name}}
                                </option>
                            </select>
                            <label for="cashbankAccountId"> Select Account</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row g-0">
                <div class="col-2">
                    <div class="px-2"> Outlet</div>
                </div>
                <div class="col-3 align-self-center">
                    <div class="px-2"> Account</div>
                </div>
                <div class="col-3 align-self-center">
                    <div class="px-2"> Description</div>
                </div>
                <div class="col-4">
                    <div class="row g-0">
                        <div class="col-5 text-end">
                            <div class="px-2"> Debit</div>
                        </div>
                        <div class="col-5 text-end">
                            <div class="px-2"> Credit</div>
                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0" *ngFor="let x of items; let i = index">
                <div class="col-2">
                    <select class="form-control form-control-sm" [(ngModel)]="x.outletId"
                        (change)="onSelectOutlet(x.outletId, i);">
                        <option [value]="a.id" *ngFor="let a of selectOutlet">{{a.branch+" : "+a.name}}
                        </option>
                    </select>
                </div>
                <div class="col-3 align-self-center">
                    <select class="form-control form-control-sm" [(ngModel)]="x.accountId" (change)="calculation()">
                        <optgroup [label]="a.name" *ngFor="let a of x.selectAccount">
                            <option [hidden]="c.status != '1' " [value]="c.id" *ngFor="let c of a.coa">
                                {{c.id+" : "+c.name}}
                            </option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-3 align-self-center">
                    <input type="text" maxlength="250" class="form-control form-control-sm" [(ngModel)]="x.description">
                </div>
                <div class="col-4">
                    <div class="row g-0">
                        <div class="col-5">
                            <input type="text" currencyMask [options]="currencyOptions" (keypress)="keyPress(x,'debit')"
                                class="form-control form-control-sm" [(ngModel)]="x.debit">
                        </div>
                        <div class="col-5">
                            <input type="text" currencyMask [options]="currencyOptions"
                                (keypress)="keyPress(x,'credit')" class="form-control form-control-sm"
                                [(ngModel)]="x.credit">
                        </div>
                        <div class="col-2 text-center">
                            <i *ngIf="i<2" class="bi bi-lock"></i>
                            <a *ngIf="i>1" (click)="removeRow(i);"><i class="bi bi-trash3"></i></a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row g-0 mt-3">
                <div class="offset-10 col-2 d-grid text-end">
                    <button type="button" (click)="addrow();" class="btn btn-sm btn-dark">Add Row</button>
                </div>
            </div>

        </div>
    </div>

    <!-- SUMMARY -->
    <div class="row">

        <div class="offset-8 col-4">

            <div class="row g-0 mb-2 border-bottom">
                <div class="col-4"> <strong>Total debit</strong> </div>
                <div class="col-8">
                    <div class="text-end"><strong>{{summary.debit | number}}</strong></div>
                </div>
            </div>
            <div class="row g-0 mb-2 border-bottom">
                <div class="col-4"> <strong>Total credit</strong> </div>
                <div class="col-8">
                    <div class="text-end"><strong> {{summary.credit | number}}</strong></div>
                </div>
            </div>
            <div class="row g-0 mb-2 border-bottom" *ngIf="typeOfJournal =='journal'">
                <div class="col-4"> <strong>Balance</strong> <span
                        *ngIf="summary.balance == 0 && (summary.debit > 0 || summary.cedit > 0)"><i
                            class="bi bi-check-lg"></i></span> </div>
                <div class="col-8">
                    <div class="text-end" [ngClass]="{'text-danger': summary.balance != 0}"> <strong>
                            {{summary.balance | number}}</strong></div>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="!prod">
        model:
        {{typeOfJournal}}
        items 
        <code>{{items | json}}</code><hr>
        <code>{{model | json}}</code><hr>
        <code>{{cashbank | json}}</code><hr>
    </div>

</div>
<div class="modal-footer">
    {{summary | json }}
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>

    <button type="button" class="btn btn-primary" *ngIf="typeOfJournal == 'journal'"
        [disabled]="!submit || summary.balance !=0 " (click)="onSubmit();">Submit</button>

    <button type="button" class="btn btn-success" *ngIf="typeOfJournal == 'cashbank'"
        [disabled]="(summary.debit == 0 && summary.credit == 0) || cashbank.accountId == '' " (click)="onSubmit();">Submit</button>



</div>